<nav class="navbar navbar-expand-sm d-flex justify-content-center navbarColor">
    <a class="navbar-brand" href="#">INVOICE GENERATOR</a>

</nav>
<form #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card border-secondary formCard">
                    <div class="card-body">
                        <h3 class="card-title"><strong>Customer Details</strong></h3>
                        <br>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="name">Seller Name</label>
                                    <input type="text" class="form-control" name="sellerName" id="name"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                                        [(ngModel)]="invoice.sellerName" #SellerName="ngModel" required>
                                </div>

                                <div class="form-group">
                                    <label for="vatRegNumber">VAT Registration Number</label>
                                    <input type="text" class="form-control" name="vatRegNumber" id="vatRegNumber"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && vatRegNumber.invalid}"
                                        [(ngModel)]="invoice.vatRegNumber" #vatRegNumber="ngModel" required>
                                </div>

                                <div class="form-group">
                                    <label for="address">Invoice Type</label>
                                    <select class="form-control" name="invoiceType" id="invoiceType"
                                        [(ngModel)]="invoice.invoiceType" required>
                                        <option value="GST">GST</option>
                                        <option value="Non-GST">Non-GST</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Customer Name</label>
                                    <input type="text" class="form-control" name="customerName" id="name"
                                        [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                                        [(ngModel)]="invoice.customerName" #CustName="ngModel" required>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mt-2 formCard">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                                class="btn " (click)="addProduct()">+</button></h4>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20%">Product</th>
                                        <th width="20%">Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%">Vat</th>
                                        <th width="20%">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of invoice.products; let i=index">
                                        <td scope="row">
                                            <input type="text" class="form-control" name="productName{{i}}"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}"
                                                id="productName" [(ngModel)]="product.name" #ProductName="ngModel"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="price{{i}}" id="price"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                                                [(ngModel)]="product.price" #ProductPrice="ngModel" required>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                                                [(ngModel)]="product.qty" #ProductQty="ngModel" required>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="vat{{i}}" id="vat"
                                                [ngClass]="{'is-invalid': invoiceForm.submitted && ProductVat.invalid}"
                                                [(ngModel)]="product.vat" #ProductVat="ngModel" required>
                                        </td>

                                        <td>
                                            {{product.price * product.qty + product.price * product.qty * product.vat / 100 || ''}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-right"><button class="total" (click)="gettotal()">Total</button></td>
                                        <td>
                                            {{total}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-lg btn-block"
                        (click)="invoiceForm.valid ? generatePDF('download') : ''">Download Invoice</button>
                    <button type="button" class="btn  btn-lg btn-block"
                        (click)="invoiceForm.valid ? generatePDF('print') : ''">Print
                        Invoice</button>
                    <button type="submit" class="btn  btn-lg btn-block"
                        (click)="invoiceForm.valid ? generatePDF() : ''">Open
                        Invoice</button>
                    <button type="button" class="btn  btn-lg btn-block" (click)="getqr()">
                        Generate QR Code
                    </button>

                    <div class="qr-code">
                        <qr-code [value]="qrInfo" size="350"></qr-code>
                    </div>
                </div>
            </div>
    </div>
</form>

